table{
    width: 300px;
    height: 400px;

    border: solid 1px #dcdcdca4;
    border-right: solid 4px #dcdcdca4;
    border-bottom: solid 4px #dcdcdca4;
    border-radius: 10px;

    text-align: center;

    padding: 8px;
    margin: 20px;
}
input{
    width: 70px;
    height: 70px;
    font-size: x-large;
    background-color: #dcdcdca4;

    border: none;
    border-radius: 20px;

    outline: none;
}
.display{
    width: 250px;
    text-align: right;

    background: #ffffff;
    border-top: solid #dcdcdca4 5px;
    border-bottom: solid #dcdcdca4 5px;
    border-right: solid #b6b6b6 6px;
    border-left: solid #b6b6b6 6px;
    border-radius: 5px;
}
.operator{
    background-color: #87cefa;
}
.equal{
    background-color: #b6b6b6;
}
input:hover{
    background: #747373b9;
}
.display:hover{
    background: #ffffff; 
}
.operator:hover{
    background: #339cdd;
}
input:active{
    background:  #5a5a5a;
}
.operator:active{
    background: #2c80b4;
}